<main class="app-main">
  <h1>
    MB Attached Notification
  </h1>
  <p>
    Here is a demonstration of how to use the <a href="https://material.angular.io/cdk/overlay/api">Angular CDK Connected Overlay</a>.
  </p>
  <h2>Features</h2>
  <ul>
    <li>The overlay will automatically reposition as you scroll and resize the screen.</li>
    <li>Using an <a href="https://developer.mozilla.org/en-US/docs/Web/API/IntersectionObserver">Intersection Observer</a>,
      the overlay / notification is hidden when the anchor / 'blue dot' goes out of view.</li>
    <li><code>[autoShowNotificationAfterInit]</code> parameter to control if the overlay / notification is automatically
      displayed upon loading.</li>
    <li>Content Projection is used to define what the content of the overlay / notification is.</li>
  </ul>
  <div class="spacer--smaller"></div>
  <app-attached-notification-anchor
    [title]="'New deals available'"
    [autoShowNotificationAfterInit]="true"
  >
    <div notificationBody>
      <p class="attached-notification__body">
        You are now eligible to new some new savings!
      </p>
    </div>
  </app-attached-notification-anchor>

  <div class="spacer"></div>
  <i class="gg-arrow-up-o"></i>
  <p>scroll back up</p>
</main>
