<div
  @fadeInAnimation
  class="attached-notification"
  role="status"
  aria-label="notification displayed. Press escape to close."
>
  <div
    [ngStyle]="style"
    [ngClass]="'attached-notification__anchor-point--' + anchorY"
    class="attached-notification__anchor-point"
  ></div>
  <div class="attached-notification__head">
    <div class="attached-notification__close">
      <button
        #defaultFocusOn
        (click)="dismiss()"
        id="close-attached-notification"
        type="button"
        class="attached-notification__close-button"
        aria-label="Dismiss notification"
      >
        <i class="gg-close" aria-hidden="true"></i>
      </button>
    </div>
    <div *ngIf="title" class="attached-notification__title">
      <h1 class="attached-notification__title-text">
        {{ title }}
      </h1>
    </div>
  </div>
  <div class="attached-notification__body">
    <ng-content select="[body]"></ng-content>
  </div>
</div>
